
{{define "GatewayApiEndpoint"}}

{{$default_host :=index . 0}}

{{ $levels := list "{level1}" "{level2}" "{level3}" "{level4}"}}
{{ $methods := list "GET" "POST" "PUT" "DELETE" "PATCH"}}{{/* Define the HTTP methods you want to support */}}

{{- $totalLevels := len $levels }}
{{- $totalMethods := len $methods }}

{{- range $i, $level := $levels}}
  {{- range $j, $method := $methods}}
    {
      "endpoint": "/api/v1{{range $k := until (int (add $i 1))}}/{{index $levels (int $k)}}{{end}}",
      "method": "{{ $method }}",
      "extra_config": {
        {{ include "rate_limit_backend.tmpl" }}
      },
      "output_encoding": "no-op",
      {{ include "input_headers.tmpl" }},
      {{ include "input_queries.tmpl" }},
      "backend": [
        {
          "url_pattern": "/api/v1{{range $k := until (int (add $i 1))}}/{{index $levels (int $k)}}{{end}}",
          "encoding": "no-op",
          "sd": "static",
          "extra_config": {},
          "host": ["{{ $default_host }}"],
          "disable_host_sanitize": true
        }
      ]
    }{{/* End of endpoint object */}}
    {{- if or (lt $i (sub $totalLevels 1)) (lt $j (sub $totalMethods 1)) }}
      ,
    {{- end }}
  {{- end }}
{{- end }},

{
  "endpoint": "/document/{level1}",
  "method": "GET",{{/* Repeat for each method as needed */}}
  "extra_config": {},
  "output_encoding":"no-op",
  "backend": [
    {
      "url_pattern": "/document/{level1}",
      "encoding": "no-op",
      "sd": "static",
      "extra_config": {},
      "host": ["{{ $default_host }}"],
      "disable_host_sanitize": true
    }
  ]
},
{
  "endpoint": "/api/documentation",
  "method": "GET",{{/* Repeat for each method as needed */}}
  "extra_config": {},
  "output_encoding":"no-op",
  "backend": [
    {
      "url_pattern": "/api/documentation",
      "encoding": "no-op",
      "sd": "static",
      "extra_config": {},
      "host": ["{{ $default_host }}"],
      "disable_host_sanitize": true
    }
  ]
}
{{end}}
